@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?p7rz8f');
  src:  url('fonts/icons.eot?p7rz8f#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?p7rz8f') format('truetype'),
    url('fonts/icons.woff?p7rz8f') format('woff'),
    url('fonts/icons.svg?p7rz8f#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-instagram:before {
  content: "\e900";
}
.ic-facebook:before {
  content: "\e901";
}
.ic-twitter:before {
  content: "\e902";
}
.ic-youtube:before {
  content: "\e903";
}
.ic-find:before {
  content: "\e904";
}
.ic-date:before {
  content: "\e905";
}
.ic-location:before {
  content: "\e906";
}
