body
{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #1E1E1E;
}
.container
{
    box-sizing: content-box;
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
}
body
{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main
{
    flex: 1 1 auto;
}
.icon
{
    display: inline-block;
    font-size: 24px;
}

/* header */
.header
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}
.header__container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}


.logo 
{
    font-family: 'Clicker Script', cursive;
}
.header__logo
{
    font-size: 35px;
}
.logo__title
{
    color: #EE1C45;
}


.nav-list
{
    display: flex;
    align-items: center;
    column-gap: 50px;
    font-size: 0.875rem; 
    font-weight: 300;  
    color: #FFFFFF;
}
.nav__link
{
    transition: all 0.3s linear;
}
.nav__link:hover
{
    color: #FF0345;
}


.login
{
    font-size: 0.875rem; 
    font-weight: 700;
    display: flex;
    align-items: center;
    column-gap: 30px;
    color: #FFFFFF;
}
.button
{
    border-radius: 18px;
    background: linear-gradient(to right, #CD1A40, #FF803C);
    transition: all .1s linear;
}
.button:hover
{
    box-shadow: 0 0 12px 0 #CD1A40;
}
.header__button
{
    padding: 16px 25px;
}
.header__link
{
    transition: all 0.3s linear;
}
.header__link:hover
{
    color: #FF0345;
}
/* header */

/* top-page */
.top-page
{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('../pictures/illustration/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 210px;
    padding-bottom: 140px;
}
.top-page__content
{
    max-width: 580px;
    color: #FFF;
}


.top-page__suptitle
{
    font-family: 'Water Brush', cursive;
    font-size: 2.875rem;
    line-height: 1.4;
    margin-bottom: 15px;
}
.top-page__title
{
    font-size: 5.375rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
}
.top-page__texts
{
    line-height: 1.5;
    margin-bottom: 50px;
}
.top-page__find
{
    display: flex;
    align-items: center;
}


.top-page__find
{
    padding: 15px 22px;
    border-radius: 28px;
    position: relative;
}
.top-page__find *
{
    position: relative;
}
.top-page__find::before
{
    content: '';
    position: absolute;
    height: 96px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 28px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
.find__block
{
    display: flex;
    align-items: center;
}
.decore
{
    margin-left: 60px;
    margin-right: 60px;
    width: 1px;
    height: 24px;
    background: #FFF;
}
.find__inner
{
    margin-left: 15px;
}
.find__title
{
    line-height: 1.5;
}
.find__info
{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
}
.top-page-button
{
    margin-left: 60px;
    padding: 23px;
    margin-left: auto;
}
/* top-page */

